@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap');

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: 'Lexend', sans-serif;
  --font-sans: 'Lexend', sans-serif;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-sans min-h-screen selection:bg-primary selection:text-white;
}

/* Material Symbols Class */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}